.experience-section div,
.experience-section img{
	border-radius:5px;
	height:70px;
}
.date div{
	display:inline-block;
	background:rgb(91,91,91);
	color:white;
	font-family:'Bebas';
	line-height:1.05;
	padding:2px 5px;
	width: 70px;
}
.day{
	font-size:3em;
}
.display-pic{
	max-width:100%;
}
.passenger-detail div{
	background:rgb(235,237,236);
	padding:2%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.name{
	font-size:1.6em;
}
.experience div{
	background:rgb(235,237,236);
	font-size:1.6em;
	padding:0.5% 3%;
	overflow:auto;
}
.vertical-space{
	margin-top:10px;
}
#read-more{
	left:0px;
	font-size:1.6em;
	padding:1% 5%;
	color:white;
}
/*Media Queries*/

@media screen and (max-width: 1200px){
	.container{
		width: 97%;
	}
}
@media screen and (max-width:991px){
	.input-label, .no-left-pad{
		text-align: left;
		padding-left:15px;
	}
	.spacing-between-fields{
		padding-top:0px;
	}
	.col-md-offset-2{
		padding-top:1.7em;
	}
	.section-heading{
		padding:1.5% 15px;
	}
	.checkbox{
		font-size:1.1em;
	}
	.display-pic{
		display: none;
	}
	.passenger-detail{
		padding-left:30px;
		padding-right:0px;
	}
	.experience{
		padding-right:0px;
		width:65%;
	}
}
@media screen and (max-width: 768px){
	.date,
	.passenger-detail,
	.experience{
		width: 100%;
	}
	.no-right-pad{
		padding-right: 15px;
	}
	.date div{
		width: 100%;
		border-radius: 5px 5px 0px 0px;
	}
	.passenger-detail{
		padding-left:15px;
		padding-right: 15px;
	}
	.passenger-detail div{
		border-radius: 0px;
	}
	.experience{
		padding-right:15px;
	}
	.experience div{
		border-radius: 0px 0px 5px 5px;
	}
}
*{
	/*border:1px solid red;*/
}